<h2>Editing a character:</h2>
<%= form_for @character, :html => { :multipart => true } do |c| %>
	<p>
		<%= c.label :name %> <br/>
		<%= c.text_field :name %><br/>
	</p>
	<p>
		<%= c.file_field :avatar %>
	</p>
	<p>
		<%= c.submit "Submit changes" %>
	</p>
<% end %>