<!DOCTYPE html>
<html>
<head>
  <title>RPGEditor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
	<ul class="nav nav-tabs">
		<li><%= link_to("Home", root_path) %></li>
		<% if user_signed_in? %>
		<li><%= link_to("Sign out!", destroy_user_session_path, :method => :delete) %></li>
		<li><%= link_to("Characters!", characters_path) %></li>
		<% else %>
		<li><%= link_to("Sign up!", new_user_registration_path)%> </li>
		<li> <%= link_to("Sign in!", new_user_session_path) %></li>
		
		<% end %>
	</ul>
	<%= yield %>
</div>
<div class="container" style="color:grey">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>

</body>
</html>
